
# exp07データのCostomerIDを変更

In [15]:
import gc
import warnings
warnings.filterwarnings('ignore')
import scipy as sp
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
from tqdm.auto import tqdm
import itertools

# imoirt data

In [4]:
train = pd.read_csv('../output/exp07 LGB feature1500/oof_07_lgb_dart_baseline_5fold_seed46.csv')
test = pd.read_csv('../output/exp07 LGB feature1500/test_lgb_dart_baseline_5fold_seed46.csv')

test_ID_list = pd.read_parquet('../feature/costomerID_hex_list/test_ID_list.parquet')
train_ID_list = pd.read_parquet('../feature/costomerID_hex_list/train_ID_list.parquet')


test.head()

    customer_ID  prediction
0 -9.223277e+18    0.006342
1 -9.223220e+18    0.003303
2 -9.223219e+18    0.010416
3 -9.223203e+18    0.012527
4 -9.223190e+18    0.002053

In [5]:
test_ID_list.head()

                                        customer_ID2          customer_ID
0  00000469ba478561f23a92a868bd366de6f6527a684c9a...  8717704911770597815
1  00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...  4783907996972277493
2  0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...  4616129756878093544
3  00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c... -1916505587365783916
4  00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...  7583456031722841431

In [7]:
# test.merge(test_ID_list,on = "customer_ID",how = "left")
test_ID_list.dtypes

customer_ID2    object
customer_ID      int64
dtype: object

In [10]:
# test['customer_ID'].astype('int')
test.dtypes

customer_ID    float64
prediction     float64
dtype: object

In [13]:
test_ID_list['customer_ID'] = test_ID_list['customer_ID'].astype('float64')
test_ID_list.head()

                                        customer_ID2   customer_ID
0  00000469ba478561f23a92a868bd366de6f6527a684c9a...  8.717705e+18
1  00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...  4.783908e+18
2  0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...  4.616130e+18
3  00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c... -1.916506e+18
4  00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...  7.583456e+18

In [14]:
test.merge(test_ID_list,on = "customer_ID",how = "left")

         customer_ID  prediction                                       customer_ID2
0      -9.223277e+18    0.006342  7b591255f20c3e5cb9035580c57aeed4979d25b9a2416e...
1      -9.223220e+18    0.003303                                                NaN
2      -9.223219e+18    0.010416  b624db6a2300eb42f29b94c165c7361e3cd49453c2f069...
3      -9.223203e+18    0.012527                                                NaN
4      -9.223190e+18    0.002053                                                NaN
...              ...         ...                                                ...
924616  9.223091e+18    0.049807  820226120d3b500d783dd1fae52dbb78fefce67adc76aa...
924617  9.223211e+18    0.722217                                                NaN
924618  9.223252e+18    0.094846                                                NaN
924619  9.223264e+18    0.701361                                                NaN
924620  9.223342e+18    0.002244  6a4ea19548cf6e68ba2496a849913b43711a443dc404a1...

[924621 rows x 3 columns]